<a href="https://colab.research.google.com/github/baegopa-bab/AIpython/blob/main/250328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 문제 3: 두 수 비교하기
num1=input("첫 번째 정수를 입력하세요:")
num2=input("두 번째 정수를 입력하세요:")
num1=int(num1)
num2=int(num2)
if num1 > num2:
  print('첫 번째 정수가 더 큽니다')
elif num1 < num2:
    print('두 번째 정수가 더 큽니다')
else:
      print('두 수가 똑같습니다')

첫 번째 정수를 입력하세요:5
두 번째 정수를 입력하세요:9
두 번째 정수가 더 큽니다

In [16]:
#문제: 세 수 중 가장 큰 수 찾기
num1=input("첫 번째 정수를 입력하세요:")
num2=input("두 번째 정수를 입력하세요:")
num3=input("세 번째 정수를 입력하세요:")
num1=int(num1)
num2=int(num2)
num3=int(num3)

max_num=num1

if num2 > max_num:
  max_num=num2

if num3 > max_num:
  max_num=num3

print(f"입력하신 세 수 {num1}, {num2}, {num3} 중에서 가장 큰 수는 {max_num}입니다")

첫 번째 정수를 입력하세요:5
두 번째 정수를 입력하세요:100
세 번째 정수를 입력하세요:2
입력하신 세 수 5, 100, 2 중에서 가장 큰 수는 100입니다

In [23]:
# 문제 4: 학점 판별하기
score=input("점수를 입력하세요:")
score=int(score)

if 0<=score<=100:
  if score >= 90:
    grade = 'A'
  elif score >= 80:
    grade = 'B'
  elif score >= 70:
    grade = 'C'
  elif score >= 60:
    grade = 'D'
  else:
    grade = 'F'
  print(f"당신의 학점은 {grade}입니다.")
else:
  print("점수는 0부터 100 사이의 값이어야 합니다")

점수를 입력하세요:1000
점수는 0부터 100 사이의 값이어야 합니다

In [33]:
#문제 5: 윤년 판별하기
year=input("연도를 입력하세요:")
year=int(year)

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print(f"{year}년은 윤년입니다.")
else:
  print(f"{year}년은 윤년이 아닙니다.")

연도를 입력하세요:2000
2000년은 윤년입니다.

In [35]:
for i in range(5): # 0~4까지 반복
 print("반복!", i)

반복! 0
반복! 1
반복! 2
반복! 3
반복! 4

In [40]:
# 1~5까지 반복
for i in range(1, 6):
 print("반복!", i)

반복! 1
반복! 2
반복! 3
반복! 4
반복! 5

In [41]:
# 1~5까지 반복
for i in range(5):
 print("반복!", i+1)

반복! 1
반복! 2
반복! 3
반복! 4
반복! 5

In [44]:
for i in range(1, 10, 2):
 print("반복", i)

반복 1
반복 3
반복 5
반복 7
반복 9

In [46]:
for i in [1,2,'C',4,5,]:
  print("반복", i)

반복 1
반복 2
반복 C
반복 4
반복 5

In [47]:
count = 0
while count < 3:
 print("반복 중:", count)
 count += 1 # 하나씩 증가

반복 중: 0
반복 중: 1
반복 중: 2

In [50]:
# 문제 1: 1부터 N까지의 합 계산하기
n=input("양의 정수 N을 입력하세요:")
n=int(n)

if n <= 0:
  print("N은 양의 정수여야 합니다.")
else:
  total = 0
  for i in range(1, n+1):
    total += i
print(f"1부터 {n}까지의 합은: {total} 입니다.")

양의 정수 N을 입력하세요:5
1부터 5까지의 합은: 15 입니다.

In [52]:
# 문제 4: 특정 조건까지 반복하기 (while 루프)
count = 0
print("0부터 9까지 출력:")
while count < 10:
 print(count)
 count += 1
print("while 루프 종료")

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
while 루프 종료

In [57]:
# 문제 4: 특정 조건까지 반복하기 (for 루프)
print("0부터 9까지 출력:")
for i in range(10):
  print(i)
print("for 루프 종료")

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
for 루프 종료