<a href="https://colab.research.google.com/github/baegopa-bab/AIpython/blob/main/250321_%EC%88%98%EC%A0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
age = input("나이를 입력하세요:") #age는 문자열!
age = int(age) # 숫자로 변경!
print("당신은 내년에", age + 1, "살입니다.")

나이를 입력하세요:25
당신은 내년에 26 살입니다.

In [2]:
age = input("나이를 입력하세요:") #age는 문자열!
age = int(age) # 숫자로 변경!
age = age + 1
print("당신은 내년에", age, "살입니다.")

나이를 입력하세요:25
당신은 내년에 26 살입니다.

In [3]:
age = input("나이를 입력하세요:") #age는 문자열!
#age = int(age) # 숫자로 변경!
print("당신은 내년에", "age + 1", "살입니다.")

나이를 입력하세요:20
당신은 내년에 age + 1 살입니다.

In [4]:
age = input("나이를 입력하세요:") #age는 문자열!
#age = int(age) # 숫자로 변경!
print(str(age)+"살입니다.")

나이를 입력하세요:20
20살입니다.

In [5]:
#입력한 숫자의 양수/음수 유무 판단
num = int(input("숫자를 입력:"))

if num > 0:
    print("양수입니다")
elif num < 0:
    print("음수입니다")
else:
    print("0입니다")

숫자를 입력:23
양수입니다

In [7]:
num = int(input("숫자를 입력:"))

if num % 2 == 0:
    print("짝수입니다")

else:
    print("홀수입니다")

숫자를 입력:1
홀수입니다

In [8]:
num = int(input("숫자를 입력:"))

if num ==1 or num==2 or num==3:
  print("OK")

else:
  print("오류입니다.")

숫자를 입력:4
오류입니다.

In [9]:
a,b=map(int, input().split())

2 3

In [10]:
a

2

In [11]:
b

3

In [12]:
a,b=map(int, input().split())

if a==b:
 print("무승부입니다.")

1 1
무승부입니다.

In [13]:
a,b=map(int, input().split())
#오류
if a!= 1 and a!= 2 and a!=3:
    print("잘못된 입력")
if b!=1 and b!=2 and b!=3:
    print("잘못된 입력")
else:
#A가 이기는 경우
 if (a == 1 and b ==3) or (a == 2 and b == 1) or (a==3 and b ==2):
    print("A승B패")

#비기는 경우
 elif a==b:
  print("무승부입니다.")

#B가 이기는경우
 else:
    print("B승A패")

4 2
잘못된 입력
B승A패

In [14]:
a, b = map(int, input().split())

# 1, 2, 3 이외의 숫자일 경우
if a < 1 or a > 3 or b < 1 or b > 3:
    print("잘못된입력")
elif a == b:
    print("무승부")
elif (a == 1 and b == 3) or (a == 2 and b == 1) or (a == 3 and b == 2):
    print("A승B패")
else:
    print("B승A패")

4 2
잘못된입력